{% extends 'index.html' %}


{% block title %}
    About
{% endblock title %}


{% block content %}
    <div class="container-fluid min-h-screen flex flex-col">
        <div class="container-fluid flex flex-row bg-slate-800 h-50 justify-center items-center">
            <h1 class="text-white text-9xl font-mono">About us</h1>
        </div>
        <div class="flex flex-row mt-6 justify-center items-center mx-5">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam harum temporibus tempore vel. Id eius iure ab provident sapiente! Saepe suscipit voluptatibus culpa, deserunt veniam itaque odio nesciunt quia consequatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis soluta harum excepturi laudantium doloremque, consequuntur quos illum optio repellat aspernatur eligendi, consectetur cumque at alias velit id nihil distinctio provident. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quasi illum cum distinctio? Aliquam odit ipsum maiores, perferendis facere deleniti recusandae quisquam itaque ducimus porro laborum illo accusantium mollitia fuga!</p>
        </div>
    </div>
    
{% endblock content %}
    