{% extends 'index.html' %}


{% block title %}
    Categories
{% endblock title %}


{% block content %}
    <div class="container-fluid min-h-screen flex flex-col">
        <div class="container-fluid flex flex-row bg-slate-800 h-50 justify-center items-center">
            <h1 class="text-white text-9xl font-mono">Categories</h1>
        </div>
        
        {% for category in categories %}
            <div class="flex flex-row mt-6 justify-center items-center mx-5">
                <a href="{% url 'store:category' category.name %}" class="text-gray-700 block px-4 py-2 text-2xl" role="menuitem" tabindex="-1">{{category.name}}</a>
            </div>
        {% endfor %}
            
        
    </div>
    
{% endblock content %}