{% extends 'index.html' %}


{% block title %}
    Register
{% endblock title %}


{% block content %}
    <div class="container-fluid min-h-screen flex flex-col">
        <div class="container-fluid flex flex-row bg-slate-800 h-50 justify-center items-center">
            <h1 class="text-white text-9xl font-mono">Register</h1>
        </div>
        <div class="flex flex-row mt-6 justify-center items-center mx-5">
            <form action="{% url 'store:register' %}" method="post" class="flex flex-col" novalidate>
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="my-3 w-100 flex flex-col flex-wrap">
                        <label>{{field.label_tag}}</label>
                        {{field}}
                    <div class="text-red-600 text-xs">{{field.errors}}</div>
                    
                </div>
                {% endfor %}
                    
                
                <div class="my-3 flex justify-center items-center">
                    <button type="submit" class="px-4 py-2 bg-blue-600 rounded-xl cursor-pointer">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}